@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
@keyframes Animation {
    from{
        transform: translateY(-120px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.hero{
    width: 100vw;
    height: 100vh;
    background-color: #f3f1f6;
}
.nav-con{
    display: flex;
    
    padding-right: 20px;
}
.size{
    width: 25%;
}
.size-center{
    width: 50%;
}
.active{
    border-bottom: 2px solid #834EF0;
    color: #834EF0;
    transition: 0.2s;
    
}
.opt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.opt ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.opt ul li a{
    text-decoration: none;
    color: black;
}

.opt ul li a:hover{
    border-bottom: 2px solid #834EF0;
    color: #834EF0;
    transition: 0.2s;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;

}
.left img{
    border-radius: 50% ;
    width: 60px;
    margin-top: 13px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hire{
    background-color: #834EF0;
    width: 119px;
    height: 46px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.05rem;
    cursor: pointer;
}

.hire:hover{
    background-color: #6038b0;
    transition: 0.2s;
}
.main{
    display: flex;
    width: 100%;
    height: 88vh;
}
.main-right{
    width: 40%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-right img{
    animation: Animation 0.5s ease-in-out 0s 1;
    
    width: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 50%;
    margin-bottom: 70px;
}
.main-right img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.main-left{
    width: 40%;
    /* border: 2px solid black; */
    padding-left: 100px;
    /* padding-top: 100px; */
    margin-left: 119px;

}
.main-left h1 span{

    color: rgb(253, 145, 4);
    font-size: 5rem;
}
 span{
    color: rgb(253, 79, 4);
}
.main-left h3 {
    animation-name: Animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;

    margin-top: -50px;
}
.main-left h1{
 
    font-size: 5rem;

}
.social{
    animation-name: Animation;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    display: flex;
    gap: 10px;
}
.social-but{
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    color: blue;
}
.insta{
    border: 1px solid rgb(253, 4, 236) ;
    color: rgb(253, 4, 236) ;
}
.insta:hover{
    transition:0.5s;
    box-shadow: rgba(253, 4, 236, 0.542) 0px 7px 29px 0px;
    border: none ;
    background: rgb(253, 4, 236) ;
    color: white;
}
.linkedin:hover{
    transition:0.5s;
    box-shadow: rgba(4, 104, 253, 0.736) 0px 7px 29px 0px;
    border: none ;
    background: rgb(4, 104, 253) ;
    color: white;
}
.github{
    color: black;
    border: 1px solid black;
}
.github:hover{
    transition:0.5s;
    box-shadow: rgba(0, 0, 0, 0.736) 0px 7px 29px 0px;
    border: none ;
    background: rgb(0, 0, 0) ;
    color: white;
}
/* buton css  */
.cssbuttons-io-button {
    animation-name: Animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    margin-top: 30px;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    border-radius: 10em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 0 1.6em rgba(183, 33, 255,0.3),0 0 1.6em hsla(191, 98%, 56%, 0.3);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 10em;
    right: 0.3em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #B721FF;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.9);
  }
  

  /* about me  */

 .about-me{
    width: 100vw;
    height: 100vh;
   
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
 }
 .about-left{
    width: 40%;
    height: 100%;
    
    margin-left: 15%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
 }
 .about-left img{
    width: 300px;
    margin-left:-20px ;
    border-radius: 10px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.about-left img:hover{
    transition: 0.5s;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
 .about-right{
    width: 30%;
    height: 100%;
   
 }
 .about-right h1{
    margin-top: 53px;
    position: absolute;
    margin-left: -161px;
    display: flex;
    font-weight: 800;
    gap: 13px;
    justify-content: space-evenly;
    align-items: baseline;
}
.about-right h1 span{
    color: #9a05f7;
}
.details p {
    font-size: 1.1rem;
}
.details{
    margin-top: 134px;
    font-size: 1rem;
}
.details h3{
    font-size: 2.5rem;
}
.details h5{
    margin-top: -42px;
}

.details p span{
    color: #5505f7;
}

/* Skilss And Abilties */
.Skills{
    background: rgb(95,6,127);
    background: linear-gradient(184deg, rgba(95,6,127,1) 0%, rgba(151,0,244,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 0;
}
.skill-con{
    display: flex;
    width: 70%;
    /* border: 2px solid; */
    min-height: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.449);
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.skill-item{
    height: 150px;
    width: 30%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    
}
.skill-item img{
    height: 70%;
    width: auto;
}
.skill-item1 img{
    width: 300px;
    height: auto;
}

/* Uducation  */
.education{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 100vw;
    height:calc(100vh - 30px) ;
    background-color: #2188fd30;
}
.education p{
    margin-top: -11px;
}
.school{
    display:flex ;
    gap: 30px;
    width: 60%;
    background-color: white;
    font-size: 1.5rem;
    height: 200px;
    margin-top: 40px;
    /* border: 1px solid; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.school img{
    height: 100%;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
}
.detail h3{
    color: #9a05f7;
}
.detail h5{
    color: #05f75a;
}

/* Project made  */
.projects{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #000030;
}

@keyframes slider {
    0%{
        background-image: url("assets/project/landingpage.png");
        background-size: 100% 100%;
    }
    20%{background-image: url("assets/project/signup.png");
    background-size: 100% 100%;
    }
    
    40%{background-image: url("assets/project/login.png");
    background-size: 100% 100%;
    }
    60%{background-image: url("assets/project/homepage.png");
    background-size: 100% 100%;
    }
    80%{background-image: url("assets/project/darkmode.png");
    background-size: 100% 100%;
    }
    100%{background-image: url("assets/project/profilrpage.png");
    background-size: 100% 100%;
    }


}
.project{
    width: 27%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding-bottom: 10px;
}
#s{
    margin: auto;
}
.project div{
    height: 190px;
    width: 409px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-size: 100% 100%;
    animation-name: slider;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* background: url("assets/project/landingpage.png"); */
} 
.project-con{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.projects h2{
    font-size: 2rem;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project p{
    margin: -20px 5px 0 5px;
}

/* MESSAGE SYSTEM */
#sub{
    margin-left: 86px;
}

.connect-section{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    text-align: center;
    
}
.connect-section h2{
    font-size: 2rem;
}
.message{
    width: 60%;
    height: 80%;
    /* border: 2px solid; */
    border-radius: 10px;
    margin: auto;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.connect-section h2 span{
    color: #B721FF;
}
.mes{
    width: 50%;
    height: 100%;
    padding-top: 10px;
}
.con-input{
    border: 1px solid;
    width: 60%;
    border-radius: 5px;
    height: 40px;
    margin: auto auto;
    margin-top: 30px;
}
input{
    border: none;
    width: 85%;
    outline: none;
    height: 90%;
}
.mes-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
form{
    width: 100%;
}
.in{
    /* padding: 10px 10px 0 0; */
    display: flex;
    justify-content: flex-start;
    height:136px
}
textarea{
    width: 90%;
    height: 131px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.me{
    margin-left: 10px;
    margin-top: 4px;
}
@media screen and (max-width:1025px) {
  
    .main-left{
        margin-left: 27px;
    }
    .about-right h1{
        margin-top: 34px;
    }
    .details{
        margin-top: 83px;
    }
    .heading h1{
        font-size: 3rem;
    }
    .school{
        width: 81%;
    }
    .detail{
        font-size: 1.3rem;
    }
    .project{
    width: 40%;
    }
    .message{
        width: 86%;
    }
}
@media screen and (max-width:769px){
    .main-right img{
        width: 343px;
    }
    .main-left h1 {
        font-size: 4rem;
    }
    .main-left {
        margin-left: -17px;
    }
    .opt ul {
        list-style: none;
        display: flex;
        gap: 12px;
        font-size: 11px;
        margin-left: -41px;
    }
    .details p {
        font-size: 0.93rem;
    }
    .school {
        width: 92%;
    }
    .detail h5 {
        color: #05f75a;
        margin-top: -12px;
    }
    .project div {
        height: 151px;
        width: 304px;
    }
}

/* mobile L */
@media screen and (max-width:500px){
   .size-center{
    display: none;
    
   }
   .opt{
    height: 273px;
    position: absolute;
    width: 100vw;
    text-align: center;
    margin-top: -273px;
    z-index: 1;
    background-color: #f3f1f6;  
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    animation: slide 0.5s ease-in 1 
   }

   ul{
    flex-direction: column;
    /* margin-top: 91px; */
    margin-top: -160px;
    transition: 3s;
    animation: slide 0.5s ease-in 1 
   }
   .hire{
    display: none;
   }
   .left img {
    border-radius: 50%;
    width: 51px;
    margin-top: 17px;
    margin-left: 39px;
    z-index: 2;
}
.nav-con {
    
    justify-content: space-between;
}
.main-right{
    display: none;
}
.main-left h1 {
    font-size: 3rem;
}
.main-left h1 span {
    color: rgb(253, 145, 4);
    font-size: 4rem;
}
.main-left {
    margin-left: -46px;
    width: 76%;
    
}
.main-left h3 {
    margin-top: -31px;
}
.about-right h1 {
    margin-left: 112px;
    font-size: 1.5rem;
    position: absolute;
    margin-top: -323px;
    gap: 10px;
}
.about-me {
    width: 100vw;
    height: 105vh;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    flex-direction: column;
    align-items: center;
}
.details {
    margin-top: 83px;
    font-size: 1rem;
}
.details p {
    font-size: 0.93rem;
    margin-top: -10px;
}
.ab{
    margin-left: 136px;
    margin-bottom: 10px;
}
.about-left {
    width: 100%;
    height: 100%;
    /* margin-left: 15%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 69px;
}
.about-left img {
    width: 171px;
    margin-left: -73px;
} 
.about-right {
    width: 100%;
    height: 100%;
    text-align: center;
}
.details h3 {
    font-size: 2.5rem;
    margin-top: -24px;
}
.details {
    margin-top: 27px;
}
.skill-con{
    padding: 35px;
    row-gap: 33px;
    column-gap: 2px;
}
.skill-item{
    height: 96px;
    width: 19%;
}
.education{
    text-align: center;
}
.school{
    gap: 0;
    
    background-size: cover;
    background-blend-mode: darken;
}
.school img{
    display: none;
}
.project div {
    height: 97px;
    width: 169px;
}
.mes-left{
    display: none;
}
.mes-right{
    width: 100%;
}
.message{
    height: 87%;
    background: url("assets/contact1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.con-input{
    background: rgba(255, 255, 255, 0.996);
}
input{
    background: rgba(143, 37, 185, 0);
}
textarea{
    background: rgba(143, 37, 185, 0);

}
}





.menu{
    height: 50px;
    width: 50px;
    z-index: 2;
    border: none;
    outline: none;
    background-color:#f3f1f6 ;
    font-size: large;
}
@keyframes slide {
    from{
        margin-top: -160px;
        opacity: 0;
    }
    to{
        margin-top: 60px;
        opacity: 1;
    }
}